<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chemist</title>

    <!-- Bootstrap Core CSS -->
    <link href="style_doc_pat/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="style_doc_pat/css/blog-post.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
function myFunction() {
    window.print();
}
</script>
    <script src='style_doc_pat/js/jquery-1.9.1.min.js'>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</script>


    <style>
@font-face{font-family: Lobster;src: url('style_doc_pat/Lobster.otf');}
body{width:1100px;margin:0px auto;}
.space{margin-bottom: 4px;}
.txt{width:250px;border:1px solid #00BB64; height:30px;border-radius:3px;font-family: Lobster;font-size:20px;color:#00BB64;}
p{font-family: Lobster;font-size:35px; text-align:center;}
.but{width:250px;background:#00BB64;border:1px solid #00BB64;height:40px;border-radius:3px;color:white;margin-top:10px;}
</style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://localhost:3000/">Health Centre</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                      
                    </li>
                    <li>
                        
                    </li>
                    <li>
                        
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-7">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Doctor Section</h1>

                <!-- Author -->
               
                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Report on August 24, 2013 at 9:00 PM By Doctor X</p>

                <hr>

                <!-- Preview Image -->
                
                <hr>
 <div class="well" style="font-size:10px">
                   
                    <!-- /.row -->
                    
                                <!-- Post Content -->

                <h1>Name of patient:</h1>
                <br>
                <h1>ID of patient:</h1>
                <br>
                <h1>Problem:</h1>
                <br>
                <h1>Prescription:</h1>
                <br>
                <hr>
                </div>


                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                <div class="media">
                         </div>

                <!-- Comment -->
                <div class="media">
                  
                </div>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                   <h4>ID</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Submit
                               <!-- <span class="glyphicon glyphicon-search"></span> -->
                                                       </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
               

                <!-- Side Widget Well -->
                <div class="well">
                   
<h1>Chemist Section</h1>
<div id="advice" style="width: 400px; height: auto;margin:0px auto;">
  <form>
  <div id="button_pro">
    <div class='space' id='input_1'>
        <input id="input_1" type="text" name="val[]" class='left txt'/>
        <img class="add right" src="style_doc_pat/images/add.png" />
    </div>
   </div>   
    <input type='submit' value='Submit' class='btn btn-primary'/>
 </form>    
</div>

<div class="col-sm-2" >
    
</div>


<script>
$('document').ready(function(){
    var id=2,txt_box;
    $('#button_pro').on('click','.add',function(){
          $(this).remove();
          txt_box='<div class="space" id="input_'+id+'" ><input type="text" name="val[]" class="left txt"/><img src="style_doc_pat/images/remove.png" class="remove"/><img class="add right" src="style_doc_pat/images/add.png" /></div>';
          $("#button_pro").append(txt_box);
          id++;
    });

    $('#button_pro').on('click','.remove',function(){
            var parent=$(this).parent().prev().attr("id");
            var parent_im=$(this).parent().attr("id");
            $("#"+parent_im).slideUp('medium',function(){
                $("#"+parent_im).remove();
                if($('.add').length<1){
                    $("#"+parent).append('<img src="style_doc_pat/images/add.png" class="add right"/> ');
                }
            });
            });


});
</script>
                </div>
<div class="well">
                   
                    <!-- /.row -->
                    <h1><button onclick="myFunction()" class="btn btn-primary">Print Report</button>
</h1>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; TEAM ACA
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="style_doc_pat/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="style_doc_pat/js/bootstrap.min.js"></script>

</body>

</html>
