<!DOCTYPE html>
<!-- saved from url=(0022)http://localhost:3000/ -->
<html><head>
		<title>medipad Website | Home </title>
		<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" href="css/responsiveslides.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="js/responsiveslides.min.js"></script>
		  <script>
		    // You can also use "$(window).load(function() {"
			    $(function () {
			
			      // Slideshow 1
			      $("#slider1").responsiveSlides({
			        maxwidth: 1600,
			        speed: 600
			      });
			});
		  </script>
	</head>
	<body>
		<!--start-wrap-->
		
			<!--start-header-->
			<div class="header">
				<div class="wrap">
				<!--start-logo-->
				<div class="logo">
					<img src="images/download.png" title="logo">
				</div>
				<!--end-logo-->
				<!--start-top-nav-->
				<div class="top-nav">
					<ul>
						<li class="active"><a href="http://localhost:3000/">Home</a></li>
						<li><a href="http://localhost:3000/about">About</a></li>
						<li><a href="http://localhost:3000/logout"><% if(user) {  %>Logout<% } else { %>Login<%}%></a></li>
						<li><a href="http://localhost:3000/abc"><% if(user){ %>Hi! <%=user.username%><% } else { %>Sign up<%}%></a></li>
						<li><a href="http://localhost:3000/asd">Portal</a></li>
					</ul>					
				</div>
				<div class="clear"> </div>
				<!--end-top-nav-->
			</div>
			<!--end-header-->
		</div>
		<div class="clear"> </div>
			<!--start-image-slider---->
					<div class="image-slider">
						<!-- Slideshow 1 -->
					    <ul class="rslides rslides1" id="slider1" style="max-width: 1600px;">
					      <li id="rslides1_s0" class="" style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 600ms ease-in-out;"><img src="images/slider-1.jpg" alt=""></li>
					      <li id="rslides1_s1" class="" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 600ms ease-in-out;"><img src="images/slider-2.jpg" alt=""></li>
					      <li id="rslides1_s2" class="rslides1_on" style="float: left; position: relative; opacity: 1; z-index: 2; display: list-item; transition: opacity 600ms ease-in-out;"><img src="images/slider-3.jpg" alt=""></li>
					      <li id="rslides1_s3" class="" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 600ms ease-in-out;"><img src="images/slider-4.jpg" alt=""></li>
					    </ul>
						 <!-- Slideshow 2 -->
					</div>
					<!--End-image-slider---->
		    <div class="clear"> </div>
		    <div class="content-grids">
		    	<div class="wrap">
		    	<div class="section group">
				<div class="listview_1_of_3 images_1_of_3">
					<div class="listimg listimg_1_of_2">
						  <img src="images/grid-img1.png">
					</div>
					<div class="text list_1_of_2">
						  <h3><a href="http://localhost:3000/login">Login</a></h3> <!--login wala-->
						  
						  <div class="button"><span></span></div>
					</div>
				</div>				
				<div class="listview_1_of_3 images_1_of_3">
					<div class="listimg listimg_1_of_2">
						  <img src="images/grid-img2.png">
					</div>
					<div class="text list_1_of_2">
						  <h3><a href="http://localhost:3000/bmi">Health Calculator</a></h3>
						  
						  <div class="button"><span></span></div>
				     </div>
				</div>				
				<div class="listview_1_of_3 images_1_of_3">
					<div class="listimg listimg_1_of_2">
						  <img src="images/grid-img3.png">
					</div>
					<div class="text list_1_of_2">
						  <h3>
<a href="http://www.medicinenet.com/healthy_living/article.htm">Healthy Living</a></h3><a href="file:///C:/Users/MADHUKANT/Desktop/Medipad/login/chemist.html">
						  
						  </a><div class="button"><a href="file:///C:/Users/MADHUKANT/Desktop/Medipad/login/chemist.html"><span></span></a></div>
				    </div>
				</div>				
			</div>
		    </div>
		   </div>
		   <div class="wrap">
		   <div class="content-box">
		   <div class="section group">
				
				
				
			</div>
		   </div>
		   </div>
		   <div class="clear"> </div>
		   <div class="footer">
		   	 <div class="wrap">
		   	<div class="footer-left">
		   			<ul>
						<li><a href="http://localhost:3000/index.html">Home</a></li>
						<li><a href="http://localhost:3000/about.html">About</a></li>
						<li><a href="http://localhost:3000/signup">Sign Up</a></li>
						<li><a href="http://localhost:3000/logout">Logout</a></li>
						<li><a href="http://localhost:3000/contact.html">contact</a></li>
					</ul>
		   	</div>
		   	<div class="footer-right">
		   		<p>Medicare | Design By <a href="http://w3layouts.com/"></a></p>
		   	</div>
		   	<div class="clear"> </div>
		   </div>
		   </div>
		<!--end-wrap-->
	


</body></html>