<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0055)http://ubujkykgucw.machform-trial.com/view.php?id=10159 -->
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Sign Up</title>
<link rel="stylesheet" type="text/css" href="css/view.css" media="all">
<link rel="stylesheet" type="text/css" href="css/view.mobile.css" media="all">
<link rel="stylesheet" type="text/css" href="css/css_theme.php" media="all">
<link href="css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.effects.core.js"></script>
<script type="text/javascript" src="js/view.js"></script>







</head>
<body id="main_body" class=" no_guidelines">
	
	<div id="form_container" class="WarpShadow WLarge WNormal">
	
		<h1><a>Sign Up</a></h1>
		<form id="form_10159" class="appnitro top_label" method="post" data-highlightcolor="#ccdced" action="/signup">
					<div class="form_description">
			<h2>Signup  &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://localhost:3000/login">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://localhost:3000/">Home</a></h2>
			<p></p>
		</div>						
			<ul>
			
			
			
					<li id="li_4">
		<label class="description" for="element_4">Email id </label>
		<div>
			<input id="element_4" name="email" class="element text medium" type="text" value="">
			 
		</div> 
		</li>		<li id="li_1">
		<label class="description" for="element_1">Username </label>
		<div>
			<input id="element_1" name="username" class="element text medium" type="text" value="">
			 
		</div> 
		</li>		<li id="li_2">
		<label class="description" for="element_2">Password </label>
		<div>
			<input id="element_2" name="password" maxlength="20" class="element text medium" type="password" value="" onkeyup="limit_input(2,&#39;c&#39;,20);" onchange="limit_input(2,&#39;c&#39;,20);">
			<span class="label">Maximum of <var id="range_max_2">20</var> characters allowed.&nbsp;&nbsp; <em class="currently_entered">Currently Entered: <var id="currently_entered_2">0</var> characters.</em></span> 
		</div> 
		</li>		<li id="li_5">
		<label class="description" for="element_5">Confirm Password </label>
		<div>
			<input id="element_5" name="confpassword" maxlength="20" class="element text medium" type="password" value="" onkeyup="limit_input(5,&#39;c&#39;,20);" onchange="limit_input(5,&#39;c&#39;,20);">
			<span class="label">Maximum of <var id="range_max_5">20</var> characters allowed.&nbsp;&nbsp; <em class="currently_entered">Currently Entered: <var id="currently_entered_5">0</var> characters.</em></span> 
		</div> 
		</li>		<li id="li_3" class="dropdown">
		<label class="description" for="element_3">I am a </label>
		<div>
		<select class="element select medium" id="element_3" name="type"> 
			<option value="" selected="selected"></option>
<option value="1">Doctor</option>
<option value="2">Patient</option>
<option value="3">Chemist</option>

		</select>
		</div> 
		</li>
			<!--<a href="http://localhost:3000/"><li id="li_buttons" id="submit_form" class="susub">
				Submit
				</a>-->
			<button class="btn btn-lg btn-success btn-block" type="submit">Sign Up</button>
		</li>
			</ul>
		</form>	
		<div id="footer">
			Powered by <a href="https://www.machform.com/" target="_blank"></a>
		</div>
	</div>
	
	
</body></html>